<div class="page home-page">
    <!-- Main Navbar-->
    <app-header></app-header>

    <div class="page-content d-flex align-items-stretch">

        <!-- Side Navbar -->
        <nav class="side-navbar">
            <app-sidebar></app-sidebar>
        </nav>

        <div class="content-inner wrap-form">
            
            <!-- Page Header-->
            <header class="page-header header-bottom-space">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Add document Details</h2>
                </div>
            </header>

            <div class="container">
                <app-alert></app-alert>
            </div>

            <!-- Document Add Form-->
            <div class="col-lg-6 mx-auto">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove"> 
                                        <i class="fa fa-times"></i> Close
                                    </a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i> Edit 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Add New Document</h3>
                        </div>
                        <div class="card-body">
                            <p>This form is used to add new document</p>
    
                            <form novalidate (ngSubmit)="onSubmit(userDocument)" [formGroup]="userDocument" class="document-add-form">
                                
                                <div class="form-group">
                                    <label>Document Type</label>

                                    <select class="form-control" formControlName="type" required (change) = "onDocTypeSelect($event)">
                                        <option *ngFor="let docType of docType" value={{docType}}>
                                            {{docType}}
                                        </option>
                                    </select>
    
                                    <div class="error" *ngIf="userDocument.get('type').touched && userDocument.get('type').hasError('required')">
                                        Document Type is required
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name"
                                        formControlName="name">
    
                                    <div class="error" *ngIf="userDocument.get('name').touched && userDocument.get('name').hasError('required')">
                                        Name is required
                                    </div>

                                    <div class="error" *ngIf="userDocument.get('name').touched && userDocument.get('name').hasError('minlength')">
                                        Minimum of 3 characters
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="this.birthAllowed">
                                        <label>Birth Date</label>
    
                                        <ng-datepicker [options]="options" [(ngModel)]="dob"  formControlName="dob">
                                        </ng-datepicker>
                                       
                                        <div class="error" *ngIf="userDocument.get('dob').hasError('required') && userDocument.get('dob').touched">
                                            Birth Date is required
                                        </div>
                                </div>

                                <div class="form-group">
                                    <label>Document Number</label>
                                    <input type="text" class="form-control" placeholder="Enter Document Number"
                                        formControlName="number">
    
                                    <div class="error" *ngIf="userDocument.get('number').hasError('required') && userDocument.get('number').touched">
                                        Document Number is required
                                    </div>                                    
                                </div>

                                <div class="form-group" *ngIf="this.VehicleCategoryAllowed">
                                    <label>Vehicle Category</label>

                                    <select class="form-control" formControlName="vehicleCategory" required>
                                        <option *ngFor="let vehicleCategory of vehicleCategory" value={{vehicleCategory}}>
                                            {{vehicleCategory}}
                                        </option>
                                    </select>
    
                                    <div class="error" *ngIf="userDocument.get('vehicleCategory').touched && userDocument.get('vehicleCategory').hasError('required')">
                                        Type is required
                                    </div>                                   
                                </div>

                                <div class="form-group" *ngIf="this.FatherNameAllowed">
                                    <label>Father Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Father Name" formControlName="fatherName">
    
                                    <div class="error" *ngIf="userDocument.get('fatherName').touched && userDocument.get('fatherName').hasError('required')">
                                       Father Name is required
                                    </div>
                                    <div class="error" *ngIf="userDocument.get('fatherName').touched && userDocument.get('fatherName').hasError('minlength')">
                                       Minimum of 3 characters
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block btn-round" [disabled]="userDocument.invalid"><i
                                            *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>