<div class="wrapper">
    <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome to ProApps</h3>
                        <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user" class="register-form">
                            <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter first name" formControlName="name">
                           
                                <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('required')">
                                    Name is required
                                </div>
                                <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('minlength')">
                                    Minimum of 3 characters
                                </div>
                            <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Enter last name" formControlName="surname">
                           
                                <div class="error" *ngIf="user.get('surname').touched && user.get('surname').hasError('required')">
                                    Last Name is required
                                </div>
                                <div class="error" *ngIf="user.get('surname').touched && user.get('surname').hasError('minlength')">
                                    Minimum of 3 characters
                                </div>
                            <label>Email address</label>
                                <input type="email"  class="form-control" placeholder="Enter email address" formControlName="email">
                            
                                <div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                                    Email is required
                                </div>

                                <div class="error" *ngIf="user.get('email').touched && user.get('email').hasError('pattern')">
                                    Enter valid email
                                </div>

                            <div formGroupName="account">              
                              
                                <label>Address</label>
                                    <input type="address"  class="form-control" placeholder="Enter address" formControlName="address">
                                
                                    <div class="error" *ngIf="user.get('account').get('address').hasError('required') && user.get('account').get('address').touched">
                                        Address is required
                                    </div>
                              
                                <label>Phone</label>
                                    <input type="text" class="form-control" placeholder="Enter mobile number" formControlName="phone">
                                
                                    <div class="error"  *ngIf="user.get('account').get('phone').hasError('required') && user.get('account').get('phone').touched">
                                        Phone is required
                                    </div>
                                
                                <label>WhatsApp</label>
                                    <input type="text" class="form-control" placeholder="Enter whatsapp number" formControlName="whatsapp">
                                  
                                    <div class="error"  *ngIf="user.get('account').get('whatsapp').hasError('required') && user.get('account').get('whatsapp').touched">
                                        WhatsApp is required
                                    </div>

                                <label>Assigned Color</label>
                                    <input type="text" class="form-control" placeholder="Enter assigned color" formControlName="assignedColor">
                                  
                                    <div class="error"  *ngIf="user.get('account').get('assignedColor').hasError('required') && user.get('account').get('assignedColor').touched">
                                        Assigned Color is required
                                    </div>
                                
                                <label>Working Hour</label>
                                    <input type="text" class="form-control" placeholder="Enter working hour" formControlName="workingHour">
                                  
                                    <div class="error"  *ngIf="user.get('account').get('workingHour').hasError('required') && user.get('account').get('workingHour').touched">
                                        Working Hour is required
                                    </div>
                                
                                <label>Vocation</label>
                                    <input type="text" class="form-control" placeholder="Enter Vaction" formControlName="vacation">
                                  
                                    <div class="error"  *ngIf="user.get('account').get('vacation').hasError('required') && user.get('account').get('vacation').touched">
                                        Working Hour is required
                                    </div>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block btn-round" [disabled]="user.invalid"><i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>Sign up</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
</div>
