 <!-- Basic Form-->
 <div class="col-lg-6 mx-auto">
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Company Form</h3>
      </div>
      <div class="card-body">
        <p>This form is used to add new company</p>
        
        <form novalidate (ngSubmit)="onSubmit(company)" [formGroup]="company" class="register-form">
            <div class="form-group">
            <label>Company Name</label>
                <input type="text" class="form-control" placeholder="Enter company name" formControlName="name">
           
                <div class="error" *ngIf="company.get('name').touched && company.get('name').hasError('required')">
                    Company Name is required
                </div>
                <div class="error" *ngIf="company.get('name').touched && company.get('name').hasError('minlength')">
                    Minimum of 3 characters
                </div>
            </div>
            <div class="form-group">
            <label>Type</label>
                <input type="text" class="form-control" placeholder="Enter company type" formControlName="type">
           
                <div class="error" *ngIf="company.get('type').touched && company.get('type').hasError('required')">
                    Type is required
                </div>
                <div class="error" *ngIf="company.get('type').touched && company.get('type').hasError('minlength')">
                    Minimum of 3 characters
                </div>
            </div>
            <div class="form-group">
            <label>Company Email address</label>
                <input type="email"  class="form-control" placeholder="Enter company/owner address" formControlName="email">
            
                <div class="error" *ngIf="company.get('email').hasError('required') && company.get('email').touched">
                    Email is required
                </div>

                <div class="error" *ngIf="company.get('email').touched && company.get('email').hasError('pattern')">
                    Enter valid email
                </div>
            </div> 
            <div class="form-group">
                <label>Trade Registration Number</label>
                <input type="text" class="form-control" placeholder="Enter trade registration number" formControlName="traderegnumber">
            
                <div class="error" *ngIf="company.get('traderegnumber').touched && company.get('traderegnumber').hasError('required')">
                    Type is required
                </div>
                <div class="error" *ngIf="company.get('traderegnumber').touched && company.get('traderegnumber').hasError('minlength')">
                    Minimum of 3 characters
                </div>
            </div>
            <div class="form-group"> 
                <label>Address</label>
                <input type="address"  class="form-control" placeholder="Enter address" formControlName="address">
            
                <div class="error" *ngIf="company.get('address').hasError('required') && company.get('address').touched">
                    Address is required
                </div>
            </div> 
            <div class="form-group">
                <label>Owner Name</label>
                <input type="text" class="form-control" placeholder="Enter owner name" formControlName="ownername">
            
                <div class="error" *ngIf="company.get('ownername').touched && company.get('ownername').hasError('required')">
                    Owner name is required
                </div>
                <div class="error" *ngIf="company.get('ownername').touched && company.get('ownername').hasError('minlength')">
                    Minimum of 3 characters
                </div>
            </div>
            <div class="form-group">
                <label>Owner Last Name</label>
                <input type="text" class="form-control" placeholder="Enter owner surname" formControlName="ownersurname">
            
                <div class="error" *ngIf="company.get('ownersurname').touched && company.get('ownersurname').hasError('required')">
                    Owner last name is required
                </div>
                <div class="error" *ngIf="company.get('ownersurname').touched && company.get('ownersurname').hasError('minlength')">
                    Minimum of 3 characters
                </div>
            </div>
            <div class="form-group">
            <label>Phone</label>
                <input type="text" class="form-control" placeholder="Enter mobile number" formControlName="ownerphone">
            
                <div class="error"  *ngIf="company.get('ownerphone').hasError('required') && company.get('ownerphone').touched">
                    Phone is required
                </div>

                <div class="error" *ngIf="company.get('ownerphone').touched && company.get('ownerphone').hasError('pattern')">
                    Enter valid phone number
                </div>
            </div>  
                
            <div class="form-group">  
            <label>Time table</label>
                <input type="text" class="form-control" placeholder="Enter time table" formControlName="timetable">
                
                <div class="error"  *ngIf="company.get('timetable').hasError('required') && company.get('timetable').touched">
                    timetable is required
                </div>
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-round" [disabled]="company.invalid"><i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>Sign up</button>
            </div>
          </form>
      </div>
    </div>
  </div> 